<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Camping.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Camping.com</a>
            
            <div class="navbar-collapse collapse ">
                <ul class="navbar-nav ml-auto">
                    <% if (!loggedUser) { %>
                        <li class="nav-item"><a class="nav-link" href="/login">Login </a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="#"><%= loggedUser.username %></a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
                </ul>    
            </div>
        </nav>
        
        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } else if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        
    <body>