<% include ../partials/header %>

    <div class="container">
        <h1 style="text-align: center">Edit Comment</h1>

        <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=put" method="post" style="margin: 25px auto; width: 40%">
            <div class="form-group">
                <input class="form-control" type="text" name="commentInput[text]" value="<%= comment.text %>">
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn-lg btn-primary btn-block">Update Comment</button>
            </div>
            
            <a href="/campgrounds/<%= campground_id %>">Back</a>
        </form>
    </div>
    
<% include ../partials/footer %>